[alias]
	p = pull origin $(git rev-parse --abbrev-ref HEAD)
	last = log -1 HEAD
	tags = tag -l --sort=version:refname
[pull]
	rebase = false

[user]
	name = Jason R. Stevens, CFA
	email = jason@thinkjrs.dev
	signingkey = AE949807F327E4020960B6A9C167C7B970F1F826
[github]
	user = thinkjrs
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[core]
	ignorecase = false
